/** DADOS UNIVERSAIS*/
* {
    font-family: "Playfair Display", serif;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    /*MINIMO DE ALTURA*/
}

.content {
    flex: 1;
}

footer{
  background-color: #D3D3D3;
}

/** FIM DOS DADOS UNIVERSAIS*/
.btn-nav{
    color: #111111; /* Cor do texto no botão */
    border-radius: 0px 50px 0px 50px;
    padding-left: 30px;
    padding-right: 30px;
    border: 3px solid #808080;
    color: #D3D3D3 !important;
}
/** INICIO DO NOV BAR**/
.nav-link {
    color: #111111;
    /* Código hexadecimal para preto brilhante */
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
    /* Sombras de texto */
    transition: transform 0.3s ease;
    /* Transição suave */
}

.nav-link:hover {
    transform: translateY(2px);
    /* Efeito de baixar */
    color: #111111;
    /* Código hexadecimal para preto brilhante */
}
/** FIM DO NOV BAR**

/* INICIO DO CARD*/

.card{
    border-radius: 50px;
    margin-bottom: 1px;
    border-color: #A9A9A9 !important;
    border: 1px solid;
    transition: transform 0.3s ease; /* Transição suave */
    margin-left: 5px;
    padding: 0px;
  }

  .card:hover{
    transform: translateY(2px); /* Efeito de baixar */
  }

  .card-header {
    background-color: #D3D3D3; 
    border-radius: 50px !important; /* Pontas redondas */
    border: none;
    margin:9px;
  }

  .card-header button {
    color: #111111; /* Cor do texto no botão */
    border-radius: 0px 50px 0px 50px;
    padding-left: 30px;
    padding-right: 30px;
    border: 2px solid #808080;
  }

  .card-header button:focus {
    outline: none; /* Remover a borda de foco */
  }

  .card-body{
    border-radius: 50px 50px 50px 50px !important; /* Pontas redondas */
    border: 1px solid #808080;
    margin: 10px;
    padding: 15px; /* Espaçamento interno */
  }

  .card-body button{
    color: #111111; /* Cor do texto no botão */
    border-radius: 0px 50px 0px 50px;
    padding-left: 30px;
    padding-right: 30px;
    margin-left: 20px;
    border: 3px solid #808080	;
  }

  /* FIM DO CARD*/

  /*INICIOO DO GRUPO DE ITEM*/
  .list-group-item {
    border: none; /* Remover borda do item da lista */
  }
  /* FIM DO GRUPO DE ITEM */

  /* INICIO DO BOTÃO INFORMAÇÃO*/
  .btn-outline-info{
    border-radius: 0px 50px 0px 50px;
    font-family: "Playfair Display", serif;
    padding-left: 30px;
    padding-right: 30px;
    margin-left: 25px;
   }