<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="Suporte da equiṕe Alpha Team vizando soluções rápidas">
    <meta name="author" content="Matheus Pinheiro Pereira">

    <!--ICONE PARA CELULAR-->
    <link rel="apple-touch-icon" sizes="76x76" href="../img/imagem lobo branco.png">
    <!--ICONE PARA SITE-->
    <link rel="icon" type="image/png" href="../img/imagem lobo branco.png">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
    <!--ESTILO PERSONALIZADO-->
    <link rel="stylesheet" href="../css/index.css">
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-md">

            <div class="collapse navbar-collapse">
                <div id="logo-container" class="col-md-2">
                    <img class="img-fluid" src="../img/imagem lobo branco.png" alt="Logo Inicial">
                </div>

                <ul class="navbar-nav">
                    <li class="nav-item">
                        <h1>
                            <a class="nav-link mt-3" href="../index.html"> Suporte Alpha Team</a>
                        </h1>
                    </li>
                </ul>
            </div>

            <div class="collapse navbar-collapse">
                <ul class="navbar-nav ml-auto">
                  <li class="nav-item">
                    <a class="nav-link"  href="../view/setor-view.html">
                        <button class="btn btn-nav btn-secondary btn-md text-white" type="button">
                            <span><i class="bi bi-headset ml-2"></i> Setores </span>
                        </button>
                    </a>
                  </li>
                </ul>
              </div>
        </nav>
    </header>
    <section class="content mb-2 mt-3">
        <div class="row">
            <div class="col-md-1"></div>
            <!--INICIO DA LISTA DE TELEFONE-->
            <div class="col-md-7">
                <div class="row">
                    <!--INICIO DOS SETORES-->
                    <div class="col-md-6">
                        <ul class="list-group">
                            <li class="list-group-item">
                                <span><i class="bi bi-info-circle"></i> Agência Nacional de Telecomunicações (Anatel)</span>
                            </li>

                            <li class="list-group-item">
                                <span><i class="bi bi-sim"></i> Brisa Móvel</span>
                            </li>

                            <li class="list-group-item">
                                <span><i class="bi bi-sim-fill"></i> Brisa Móvel Outras Operadoras</span>
                            </li>

                            <li class="list-group-item">
                                <span><i class="bi bi-chat-dots"></i> Comercial Vendas Digital (Chat)</span>
                            </li>

                            <li class="list-group-item">
                                <span><i class="bi bi-headset"></i> Suporte Varejo Atendimento</span>
                            </li>

                            <li class="list-group-item">
                                <span><i class="bi bi-chat-dots-fill"></i> Suporte Varejo Digital (Chat)</span>
                            </li>

                            <li class="list-group-item">
                                <span><i class="bi bi-building"></i> Suporte Corporativo</span>
                            </li>

                            <li class="list-group-item">
                                <span><i class="bi bi-globe2"></i> Suporte Regional</span>
                            </li>

                            <li class="list-group-item">
                                <span><i class="bi bi-chat-dots"></i> Suporte Regional Digital (Chat)</span>
                            </li>

                            <li class="list-group-item">
                                <span><i class="bi bi-megaphone"></i> Ouvidoria</span>
                            </li>
                        </ul>
                    </div>
                    <!--FIM DOS SETORES-->

                    <!--INICIO DOS TELEFONES-->
                    <div class="col-md-6">
                        <ul class="list-group">
                            <li class="list-group-item">
                                <span><i class="bi bi-telephone"></i> 1331</span>
                            </li>

                            <li class="list-group-item">
                                <span><i class="bi bi-keyboard"></i> *3018</span>
                            </li>

                            <li class="list-group-item">
                                <span><i class="bi bi-telephone"></i> 1058</span>
                            </li>

                            <li class="list-group-item">
                                <span><i class="bi bi-phone"></i> (088) 981820637</span>
                            </li>

                            <li class="list-group-item">
                                <span><i class="bi bi-telephone"></i> 0800 281 3017</span>
                            </li>

                            <li class="list-group-item">
                                <span><i class="bi bi-phone"></i> (084) 981118525</span>
                            </li>

                            <li class="list-group-item">
                                <span><i class="bi bi-telephone"></i> 0800 282 3017</span>
                            </li>

                            <li class="list-group-item">
                                <span><i class="bi bi-telephone"></i> 0800 285 3917</span>
                            </li>

                            <li class="list-group-item">
                                <span><i class="bi bi-phone"></i> (088) 981223054</span>
                            </li>

                            <li class="list-group-item">
                                <span><i class="bi bi-telephone"></i> 0800 281 4000</span>
                            </li>
                        </ul>
                    </div>
                    <!--INICIO DOS TELEFONES-->
                </div>
            </div>

            <!--INICIO DA FILA-->
            <div class="col-md-4">
                <div class="row">
                    <!--INICIO FILA RAMAL-->
                    <div class="col-md-7">
                        <ul class="list-group">
                            <li class="list-group-item">
                                <span><i class="bi bi-sim"></i> Brisa Móvel</span>
                            </li>
                            <li class="list-group-item">
                                <span><i class="bi bi-cart"></i> Comercial Vendas</span>
                            </li>
                            <li class="list-group-item">
                                <span><i class="bi bi-x-circle"></i> Retenção</span>
                            </li>
                            <li class="list-group-item">
                                <span><i class="bi bi-currency-dollar"></i> Cobrança</span>
                            </li>
                            <li class="list-group-item">
                                <span><i class="bi bi-currency-dollar"></i> Cobrança Corporativo</span>
                            </li>
                            <li class="list-group-item">
                                <span><i class="bi bi-headset"></i> SAC</span>
                            </li>
                            <li class="list-group-item">
                                <span><i class="bi bi-cart"></i> SAC Comercial</span>
                            </li>
                            <li class="list-group-item">
                                <span><i class="bi bi-headset"></i> Suporte Varejo</span>
                            </li>
                            <li class="list-group-item">
                                <span><i class="bi bi-headset"></i> Suporte Varejo Ativo</span>
                            </li>
                            <li class="list-group-item">
                                <span><i class="bi bi-building"></i> Suporte Corporativo</span>
                            </li>
                            <li class="list-group-item">
                                <span><i class="bi bi-globe2"></i> Regional</span>
                            </li>
                            <li class="list-group-item">
                                <span><i class="bi bi-list fa-3x"></i> Trans: Fila Direto</span>
                            </li>
                            <li class="list-group-item">
                                <span><i class="bi bi-list fa-3x"></i> Trans: Atendente</span>
                            </li>
                        </ul>
                        
                    </div>
                    <!--FIM DA FILA RAMAL-->

                    <!--INICIO DO RAMAL-->
                    <div class="col-md-5">
                        <ul class="list-group">
                            <li class="list-group-item">
                                <span><i class="bi bi-telephone"></i> 280</span>
                            </li>

                            <li class="list-group-item">
                                <span><i class="bi bi-telephone"></i> 400</span>
                            </li>

                            <li class="list-group-item">
                                <span><i class="bi bi-telephone"></i> 500</span>
                            </li>

                            <li class="list-group-item">
                                <span><i class="bi bi-telephone"></i> 300</span>
                            </li>

                            <li class="list-group-item">
                                <span><i class="bi bi-telephone"></i> 380</span>
                            </li>

                            <li class="list-group-item">
                                <span><i class="bi bi-telephone"></i> 100</span>
                            </li>

                            <li class="list-group-item">
                                <span><i class="bi bi-telephone"></i> 640</span>
                            </li>

                            <li class="list-group-item">
                                <span><i class="bi bi-telephone"></i> 200</span>
                            </li>

                            <li class="list-group-item">
                                <span><i class="bi bi-telephone"></i> 430</span>
                            </li>

                            <li class="list-group-item">
                                <span><i class="bi bi-telephone"></i> 600</span>
                            </li>

                            <li class="list-group-item">
                                <span><i class="bi bi-telephone"></i> 700</span>
                            </li>

                            <li class="list-group-item">
                                <span><i class="bi bi-telephone"></i> *1 + ramal (transf. direto)</span>
                            </li>

                            <li class="list-group-item">
                                <span><i class="bi bi-telephone"></i> *2 + ramal (fala com o atendente) </span>
                            </li>
                        </ul>
                    </div>
                    <!--FIM DO RAMAL-->
                </div>
            </div>
            <!--FIM DA FILA-->
        </div>
    </section>

    <footer>
        <div class="container">
            <div class="row">
              <div class="col-md-12 text-center pt-4">
                <p>&copy; 2023 Brisanet Telecomunicações SA. Todos os direitos reservados.</p>
              </div>
            </div>
        </div>
      </footer>      
</body>
      <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
      <script src="../js/index.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</html>
